<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (plants.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    <% plants.forEach((plant, index) => { %>
                        <tr>
                            <th scope="row"><%= plant.id %></th>
                            <td><%= plant.desc %></td>
                            <td><img src="/assets/img/<%= plant.image %>" class="rounded-circle plant-img" alt="plant photo"></td>
                            <td>
                                <a href="/edit/<%= plant.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-info">Edit</a>
                                <a href="/delete/<%= plant.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No plants found. Click <a href="/add" >here</a> to add a new plant.</p>
        <% } %>
    </div>
</div>
</body>
</html>